.wrapper {
    position: relative;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid white;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.settings {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    stroke-width: 2px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title {
    margin: 25px 0 5px 0;
    text-transform: capitalize;
}

.todos {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto;
}

.remaining {
    width: 300px;
    padding: 10px;
    list-style: none;
}

.completed {
    width: 300px;
    padding: 10px;
    list-style: none;
}

.todo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}