.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open {
    position: absolute;
    top: 25px;
    right: 30px;
    border: none;
    color: white;
    background: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 25px;
    left: -50px;
    border: none;
    color: white;
    background: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}