:root {
    --default-padding: 0;
    --default-margin: 0;
    --default-box-sizing: border-box;
}

* {
    padding: var(--default-padding);
    margin: var(--default-margin);
    box-sizing: var(--default-box-sizing);
}