:root {
    --default-padding: 0;
    --default-margin: 0;
    --default-box-sizing: border-box;
}

* {
    padding: var(--default-padding);
    margin: var(--default-margin);
    box-sizing: var(--default-box-sizing);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #ffffff;
}